//importing 4 google fonts : Fjalla , Nunito, Ubuntu Condensed , Ubuntu
@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800|Fjalla+One|Nunito:300,300i,400,400i,700,700i,800,800i|Ubuntu+Condensed|Ubuntu:400,400i,500,500i,700,700i')

@import url('https://fonts.googleapis.com/css?family=Oswald:600,700')

$nav-font: 'Fjalla One', sans-serif
$big-titles-font: 'Oswald', sans-serif
$small-titles-font: 'Ubuntu Condensed', sans-serif
$paragraphs-font: 'Nunito', sans-serif
