@import "imports"

.home
  position: absolute
  top: 0
  z-index: 1

  //first block
  &-welcome
    background: $darkest-color url('../img/foresting-cloud-forests.jpg') center center fixed no-repeat
    background-size: cover

    animation: zoom 45s infinite

    width: 100vw
    height: 100vh

    display: flex
    align-items: center
    justify-content: center
    text-align: justify

    &--text
      .social-bar
        margin-top: 20px
        a
          padding-right: 30px
        .social-link
          width: 30px
          height: auto
          &:hover
            background-color: $lightest-color
            border-radius: 100px
            background-size: 90%
        #linkedin-logo:hover path
          fill: $linkedin-color
        #twitter-logo:hover path
          fill: $twitter-color
        #github-logo:hover path
          fill: $darkest-color
        #pinterest-logo:hover path
          fill: $pinterest-color

    &--arrow
      position: relative
      top: 10vh
      #arrow-down
        width: 50px
        height: auto
        transition-duration: .2s
        transition-delay: .2s
        &:hover
          width: 55px


  //second block : presentation
  &-presentation
    background-color: $color1
    padding: 10vh 5vw
    width: 100vw
    &--left
      padding: 0 80px
      .small-title
        height: 70px
        width: auto
        border: $color4 3px solid
        h2
          color: $color4
      .separator
        .svg
          width: 100px
      p
        font-size: 1.8rem
    &--right
      padding: 0 80px
      .mozaic
        width: 550px
      .pictures
        padding-bottom: 20px
        figure
          width: 250px
          height: 250px
          margin: 0
          padding: 0
          background: #fff
          overflow: hidden
          &:hover+span
            bottom: -36px
            opacity: 1
          img
            width: 250px
            -webkit-transform: rotate(0) scale(1)
            transform: rotate(0) scale(1)
            &:hover
              -webkit-transform: rotate(15deg) scale(1.4)
              transform: rotate(15deg) scale(1.4)
              -webkit-transition: .3s ease-in-out
              transition: .5s ease-in-out

  //third block - comptences


