@import "imports"

#work-green-color
  background-color: $color3

#work-pink-color
  background-color: $color2

.work
  position: absolute
  top: 0
  z-index: 1

  &-title
    width: 100vw
    height: 30vh
    position: relative
    display: flex
    justify-content: center
    a
      img
        width: 60px
        height: auto
    h1
      position: absolute
      bottom: 0
      text-align: center



