{% extends 'base.html.twig' %}

{% block body %}

    <div class="work project2">

        <div class="container-fluid work-title" id="work-pink-color">
            <h1>Work : Food&You | landing page</h1>
        </div>

    </div>

{% endblock %}