{% extends 'base.html.twig' %}

{% block body %}

    <div class="work project1">

        <div class="container-fluid work-title" id="work-green-color">
            <h1>Work : Food&You | e-commerce website</h1>
        </div>

    </div>

{% endblock %}

