{% extends 'base.html.twig' %}

{% block body %}

    <div class="work project1">

        <div class="container-fluid work-title" id="work-green-color">
            <a href="{{ path('app_homepage') }}#work">
                <img src="{{ asset('assets/img/diamond-arrow.svg') }}">
            </a>
            <h1>Work : Food&You | e-commerce website</h1>
        </div>

    </div>

{% endblock %}

